<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="AirWebApiIP" value="127.0.0.1" />
    <add key="AirWebApiPort" value="19685" />
    <add key="ManagerPort" value="19686" />
    <add key="Token" value="AirApi" />
    <add key="DefaultRobotWxid" value="wxid_2aii8ux1atq2212" />
    <add key="DefaultRoomWxin" value="50313680418@chatroom" />
    <add key="DefaultContractWxid" value="zqm02811" />
  </appSettings>
</configuration>
